@inherits LearningProvidersBase
@page "/learningProviders"
@using Microsoft.Graph;


<PageTitle>Learning Provider</PageTitle>

<p>
    <strong>Tenant Id of the customer</strong>
    <input type="text" @bind="tenantId" />
    <button @onclick="LoadProvider">Load provider</button>
</p>

@if (providers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var provider in providers)
            {
                <tr>
                    <td>@provider.Id</td>
                    <td>@provider.DisplayName</td>
                </tr>
            }
        </tbody>
    </table>
}
else @if (providers == null)
{
    <h3>Loading...</h3>
}
else @if (providers.Count == 0)
{
    <p>You don't have any custom learning provider</p>
    <p><a href="/newLearningProvider">Click here to create one</a></p>
}


@if (contents != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Assignments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var content in contents)
            {
                <tr>
                    <td>@content.Title</td>
                    <td>@content.ContentWebUrl</td>
                    <td><button type="button" @onclick="(() => AddAssignment(content.Id))">Add assignment</button></td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <button @onclick="CreateNewLearningContent">Add new content</button>
    </p>
}
