@inherits LearningProvidersBase
@page "/learningProviders"
@using Microsoft.Graph;


<PageTitle>Learning Provider</PageTitle>

@if (providers != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var provider in providers)
            {
                <tr>
                    <td><a href="#" @onclick="() => LoadContent(provider.Id)" @onclick:preventDefault>@provider.Id</a></td>
                    <td>@provider.DisplayName</td>
                    <td><button @onclick="() => CreateNewLearningContent(provider.Id)">Add content</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else @if (providers == null)
{
    <h3>Loading...</h3>
}
else @if (providers.Count == 0)
{
    <p>You don't have any custom learning provider</p>
    <p><a href="/newLearningProvider">Click here to create one</a></p>
}


@if (contents != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Url</th>
                <th>Assignments</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var content in contents)
            {
                <tr>
                    <td>@content.Title</td>
                    <td>@content.ContentWebUrl</td>
                    <td><button type="button" @onclick="(() => AddAssignment(content.Id))">Add assignment</button></td>
                </tr>
            }
        </tbody>
    </table>
}
